<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true" />
  </configSections>
  
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />

      <httpHandlers>
        <add verb="*" path="*.mwh" type="Music.Web.MusicHandler, Music.Web" />
      </httpHandlers>
    </system.web>

  <appSettings>
    <add key="HtmlPath" value="/Resource/HTML/" />
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="MusicHandler" verb="*" path="*.mwh" type="Music.Web.MusicHandler, Music.Web" />
    </handlers>
  </system.webServer>

  <dataConfiguration defaultDatabase="MusicDB" />
  <connectionStrings>
    <clear />
    <add name="MusicDB" connectionString="Data Source=SEB-HOME\SQLEXPRESS;Initial Catalog=MusicDatabase;uid=seb;pwd=pAssw0rd" providerName="System.Data.SqlClient" />
  </connectionStrings>


</configuration>

